@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161618;
  --foreground: #FFD6FB;

  color-scheme: dark;
  scrollbar-width: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  text-transform: uppercase;
  font-family: var(--font-jetbrains);
}

.font-custom {
  font-family: var(--font-vault), system-ui;
}